<h1>A short Course on Machine Learning</h1>

<h3>Data Types</h3>

<p>Two types of information in datasets;<b>Metadata:</b> data about data and <b>Data:</b> the values. AKA attributes, features,
measurements, variables, variates. In the context of data tables rows contain items (examples, instances, observations, data points) while columns contain attributes. In certain data structures (eg XML) headers can contain meta data (semantics or meaning)
</p>

<h3>Attribute types</h3>
<p>There are numerous ways to classify the types of attributes in a dataset:</p>
<p>Programmer types:</p>
<ul>
  <li>String</li>
  <li>Integer</li>
  <li>Float</li>
  <li>Boolean</li>
</ul>
<p>Mathematical sets:</p>
<ul>
    <li>Real</li>
    <li>Complex</li>
    <li>Rational</li>
    <li>Integer</li>
</ul>

<h3>Scales of measurement</h3>
One of the most useful methods for classifying attribute types is levels/scales of
measurement
● Defines what operations you are allowed to perform on the variables
○ (<, +, etc)
Stevens’ four scales of measurement [Stevens, 1946]
1. Nominal
2. Ordinal
3. Interval
4. Ratio
Note: values also referred to as variables, attributes, and measurements